---
import Base from "../layouts/Base.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import History from "../components/History.astro";
import Competencies from "../components/Competencies.astro";
import Contacts from "../components/Contacts.astro";
import Footer from "../components/Footer.astro";

import { getEntry } from "astro:content";
const page = await getEntry("pages", "index");
---

<Base title={page.data.title} description={page.data.description}>
  <Navbar />

  <main>
    <Hero />
    <History />
    <Competencies />
    <Contacts />
  </main>

  <Footer />
</Base>
