<section class="_section">
  <div class="_container">
    <div class="flex flex-col gap-10">
      <h2 class="text-4xl text-center font-semibold">Компетенции</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-6">
        <div class="flex flex-col gap-6">
          <div class="flex flex-col gap-0">
            <label class="text-sm font-medium">HTML</label>
            <progress class="progress progress-accent h-3" value="70" max="100"
            ></progress>
          </div>

          <div class="flex flex-col gap-0">
            <label class="text-sm font-medium">CSS</label>
            <progress class="progress progress-accent h-3" value="50" max="100"
            ></progress>
          </div>

          <div class="flex flex-col gap-0">
            <label class="text-sm font-medium">PHP</label>
            <progress class="progress progress-accent h-3" value="80" max="100"
            ></progress>
          </div>

          <div class="flex flex-col gap-0">
            <label class="text-sm font-medium">JavaScript</label>
            <progress class="progress progress-accent h-3" value="90" max="100"
            ></progress>
          </div>
        </div>

        <div class="flex flex-col gap-6">
          <div class="flex flex-col gap-0">
            <label class="text-sm font-medium">Drupal</label>
            <progress class="progress progress-accent h-3" value="70" max="100"
            ></progress>
          </div>

          <div class="flex flex-col gap-0">
            <label class="text-sm font-medium">Joomla</label>
            <progress class="progress progress-accent h-3" value="60" max="100"
            ></progress>
          </div>

          <div class="flex flex-col gap-0">
            <label class="text-sm font-medium">Wordpress</label>
            <progress class="progress progress-accent h-3" value="50" max="100"
            ></progress>
          </div>

          <div class="flex flex-col gap-0">
            <label class="text-sm font-medium">Astro</label>
            <progress class="progress progress-accent h-3" value="90" max="100"
            ></progress>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
