<div class="_container">
  <div class="divider h-[1px] mb-0"></div>
  <div class="flex justify-center py-4">
    <div class="text-sm text-center">
      <a
        href=`https://pagespeed.web.dev/analysis?url=${Astro.url.origin}`
        class="_link"
        target="_blank">
        Google PageSpeed Insights
      </a>
    </div>
  </div>
</div>
