<section class="_section">
  <div class="_container">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-10">
      <div class="md:col-span-7">
        <h1 class="text-5xl font-bold">Владимир Юрьевич Плешко</h1>
      </div>
      <div class="md:col-span-5 md:px-10">
        <div class="skeleton w-full h-[450px]"></div>
      </div>
    </div>
  </div>
</section>

<script>
  import anime from "animejs/lib/anime.es.js";
</script>
