---
import { getCollection } from "astro:content";
import { sortHistory } from "../utils/helpers";

const history = sortHistory(await getCollection("history"));
---

<section x-ref="history" class="_section">
  <div class="_container">
    <ul
      class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
      <li>
        <hr />

        <div class="timeline-middle">
          <box-icon
            type="solid"
            name="check-circle"
            class="w-10 h-10 fill-base-300"></box-icon>
        </div>

        <div class="timeline-start
            md:text-end
            mb-10">
          <time class="font-mono">1984</time>
          <div class="text-xl font-bold mb-2">First Macintosh computer</div>
          <p class="mb-4">
            The Apple Macintosh—later rebranded as the Macintosh 128K—is the
            original Apple Macintosh personal computer. It played a pivotal role
            in establishing desktop publishing as a general office function. The
            motherboard, a 9 in (23 cm) CRT monitor, and a floppy drive were
            housed in a beige case with integrated carrying handle; it came with
            a keyboard and single-button mouse.
          </p>
        </div>

        <hr />
      </li>

      <li>
        <hr />

        <div class="timeline-middle">
          <box-icon
            type="solid"
            name="check-circle"
            class="w-10 h-10 fill-base-300"></box-icon>
        </div>

        <div class="timeline-end mb-10">
          <time class="font-mono">1998</time>
          <div class="text-xl font-bold mb-2">iMac</div>
          <p class="mb-4">
            iMac is a family of all-in-one Mac desktop computers designed and
            built by Apple Inc. It has been the primary part of Apple's consumer
            desktop offerings since its debut in August 1998, and has evolved
            through seven distinct forms
          </p>
        </div>

        <hr />
      </li>

      <li>
        <hr />

        <div class="timeline-middle">
          <box-icon
            type="solid"
            name="check-circle"
            class="w-10 h-10 fill-base-300"></box-icon>
        </div>

        <div class="timeline-start md:text-end mb-10">
          <time class="font-mono">2001</time>
          <div class="text-xl font-bold mb-2">iPod</div>
          <p class="mb-4">
            The iPod is a discontinued series of portable media players and
            multi-purpose mobile devices designed and marketed by Apple Inc. The
            first version was released on October 23, 2001, about 8+1⁄2 months
            after the Macintosh version of iTunes was released. Apple sold an
            estimated 450 million iPod products as of 2022. Apple discontinued
            the iPod product line on May 10, 2022. At over 20 years, the iPod
            brand is the oldest to be discontinued by Apple
          </p>
        </div>

        <hr />
      </li>

      <li>
        <hr />

        <div class="timeline-middle">
          <box-icon
            type="solid"
            name="check-circle"
            class="w-10 h-10 fill-base-300"></box-icon>
        </div>

        <div class="timeline-end mb-10">
          <time class="font-mono">2007</time>
          <div class="text-xl font-bold mb-2">iPhone</div>
          <p class="mb-4">
            iPhone is a line of smartphones produced by Apple Inc. that use
            Apple's own iOS mobile operating system. The first-generation iPhone
            was announced by then-Apple CEO Steve Jobs on January 9, 2007. Since
            then, Apple has annually released new iPhone models and iOS updates.
            As of November 1, 2018, more than 2.2 billion iPhones had been sold.
            As of 2022, the iPhone accounts for 15.6% of global smartphone
            market share
          </p>
        </div>

        <hr />
      </li>

      <li>
        <hr />

        <div class="timeline-middle">
          <box-icon
            type="solid"
            name="check-circle"
            class="w-10 h-10 fill-base-300"></box-icon>
        </div>

        <div class="timeline-start md:text-end mb-10">
          <time class="font-mono">2015</time>
          <div class="text-xl font-bold mb-2">Apple Watch</div>
          <p class="mb-4">
            The Apple Watch is a line of smartwatches produced by Apple Inc. It
            incorporates fitness tracking, health-oriented capabilities, and
            wireless telecommunication, and integrates with iOS and other Apple
            products and services
          </p>
        </div>

        <hr />
      </li>
    </ul>
  </div>
</section>
