---
const { title, description } = Astro.props;
---

<section class="_section">
  <div class="_container">
    <div
      class="min-h-[calc(100vh-6rem)] max-w-2xl mx-auto flex flex-col justify-center items-center gap-6">
      <div class="text-8xl sm:text-9xl font-bold text-center">404</div>
      <div class="text-2xl sm:text-3xl font-semibold text-center">{title}</div>
      <div class="text-base sm:text-lg text-center">{description}</div>
      <div><a href="/" class="btn btn-secondary">На главную</a></div>
    </div>
  </div>
</section>
