---
import "@fontsource-variable/inter";
import "../assets/css/global.css";

import Background from "../components/Background.astro";
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Персональный сайт Владимира Юрьевича Плешко"
    />

    <title>Владимир Плешко – Персональный сайт</title>

    <link rel="canonical" href={Astro.url.href} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>

  <body x-data="common">
    <Background />

    <main>
      <slot />
    </main>
  </body>
</html>

<script>
  import "boxicons";
</script>
